
# Node
node_modules/
dist/
build/
.next/
coverage/

# Env
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor/OS
.DS_Store
.vscode/
.idea/

# Misc
*.tgz
*.local

# TypeScript
*.tsbuildinfo

# Optional lockfiles (if you use yarn or pnpm instead)
# package-lock.json
